.form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 24px;

    .form-inputs, .form-buttons {
        display: flex; flex-direction: column;
        width: 100%; gap: 8px;
        
        .title { font-size: 2rem; }
        .description { min-height: 120px; }

        .requests {
            display: inline-flex; align-items: center; gap: 8px;
            input { min-width: 20px; max-width: 20px; height: 20px; }
        }
    }
}