header {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    background: $secondary-color;
    overflow: hidden;
    z-index: 4;
    
    .header-content {
        width: 100%; height: $header-height;
        display: grid;
        grid-template-columns: 40px 1fr;
        align-items: center;
        justify-items: left;
        gap: 16px;
        padding: 0 8px;

        .title-container {
            max-width: 100%;
            overflow: hidden;
            text-wrap: nowrap;
            text-decoration: none;
            
            .title { font-size: clamp(1.5rem, 5vw, 2rem); }
        }
    }

}