.page-loading {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: #f6f6f650;;
    display: flex; justify-content: center; align-items: center;
    width: 100vw; height: 100vh;
    .svg-container {
        width: 40px; height: 40px;
    }
}