.sidebar-button {
    min-width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;

    &:hover { background-color: $hover-light; }
}

.sidebar-container {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    padding-top: $header-height;

    .sidebar {
        display: flex;
        width: 100%; max-height: 100%;
        flex-direction: column;
        padding: 16px;
        gap: 16px;
        background-color: $secondary-color;
        overflow-y: auto;
        overscroll-behavior: none;

        .email { font-size: 1rem; color: $gray; }

        .profile {
            display: inline-flex;
            gap: 8px;
            align-items: center;

            .photo {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                aspect-ratio: 1;
                border-radius: 8px;
                border: 1px solid $gray-border;
                font-size: 12px;
            }

            .username { font-size: 1.2rem; }
        }

        .action-container {
            display: flex;
            flex-direction: column;
            gap: 4px;

            .action {
                display: inline-flex;
                align-items: center;
                padding: 8px;
                width: 100%;
                text-decoration: none;
                border-radius: 8px;
                gap: 8px;
                overflow: hidden;

                &:hover { background-color: $hover-light; }

                svg { width: 32px; height: 32px; }
            }
        }
    }
}

@media only screen and (max-width: 350px) {
    .sidebar-container {
        .sidebar {
            box-shadow: 0px 16px 8px 0 rgba(0, 0, 0, 0.1);
        }
    }
}

@media only screen and (min-width: 350px) {
    .sidebar-container {
        width: 300px;
        padding-left: 16px;

        .sidebar { border-radius: 8px; }
    }
}