.settings-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    .form {
        align-items: flex-start;
        gap: 16px;
        button { width: auto; }

        .form-buttons {
            flex-direction: row;
        }
    }

    .delete-project {
        display: inline-flex;
        align-items: center;
        width: auto;
        height: 36px;

        h3 { color: $red-color; }
        svg { width: 36px; height: 36px; }
    }
}