$primary-color: rgba(17, 17, 17, 1);
$secondary-color: rgba(246, 246, 246, 1);
$third-color: rgb(255, 205, 117);

$gray: rgba(17, 17, 17, 0.4);
$gray-border: rgba(17, 17, 17, 0.2);
$gray-light: rgba(17, 17, 17, 0.03);

$hover-light: rgba(17, 17, 17, 0.08);

$blue-color: rgb(68, 126, 175);
$blue-color-background: rgb(205, 232, 246);

$orange-color: rgb(150, 114, 46);
$orange-color-background: rgb(248, 244, 213);

$red-color: rgb(181, 48, 44);
$red-color-background: rgb(237, 199, 196);

// --success: #28a745;
// --info: #17a2b8;

$header-height: 48px;