@font-face {
    font-family: "FinlandicaMedium";
    src: local("FinlandicaMedium"), url("../assets/fonts/Finlandica/Finlandica-Medium.ttf");
}

@font-face {
    font-family: "FinlandicaRegular";
    src: local("FinlandicaRegular"), url("../assets/fonts/Finlandica/Finlandica-Regular.ttf");
}

@font-face {
    font-family: "OstrovskyBold";
    src: local("OstrovskyBold"), url("../assets/fonts/Ostrovsky/Ostrovsky-Bold_0.otf");
}

@font-face {
    font-family: "HumaneBold";
    src: local("HumaneBold"), url("../assets/fonts/HUMANE/OpenType-TT/Humane-Bold.ttf");
}