* { margin: 0; padding: 0; box-sizing: border-box; color: $primary-color; z-index: 1; scroll-behavior: smooth; }
body {
    position: relative;
    min-width: 280px; width: 100vw;
    height: 100vh;
    background-color: $secondary-color;
}

.body-background {
    position: absolute;
    width: 100%; height: 100%;
    object-fit: cover;
    z-index: -1;
}

.disabled { pointer-events: none; opacity: 0.6 !important; }

.divider-horizontal { width: 80%; height: 2px; border-radius: 8px; background-color: $gray; }

.box-shadow { box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1); }

.flex-center { display: flex; justify-content: center; align-items: center; }

input, textarea {
    width: 100%; height: 36px;
    padding: 0 8px;
    background-color: $secondary-color;
    border: none;
    border-radius: 8px;
    outline: none;
    &::placeholder { color: $gray; }
    &:focus { outline: 2px solid $primary-color; }
}
textarea {
    resize: vertical;
    padding: 4px 8px;
    background-color: $gray-light;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: all ease 0.2s;
}

h1 { font-family: 'OstrovskyBold'; }
h1, h2, h3, p { text-overflow: ellipsis; overflow: hidden; }

a, button, input, p, textarea {
    font-family: 'FinlandicaRegular';
    font-size: 1em;
}

li { list-style: none; }
svg { width: 100%; height: 100%; }

// @media only screen and (max-width: 300px) {
    
// }

// @media only screen and (min-width: 600px) {
//     /* For tablets: */
//     input {
//         width: auto;
//         max-width: 300px; height: 30px;
//     }
// }

// @media only screen and (min-width: 768px) {
//     /* For desktop: */

// }
