* {
    margin: 0; padding: 0;
    color: $primary-color;
    box-sizing: border-box;
    scroll-behavior: smooth;
    z-index: 1;
}

html, body { width: 100%; height: 100%; }
body {
    position: relative;
    min-width: 280px;
    background-color: $secondary-color;
}

.body-background {
    position: absolute;
    width: 100%; height: 100%;
    object-fit: cover;
    z-index: -1;
}

.disabled { pointer-events: none; opacity: 0.6 !important; }

.divider-horizontal { width: 80%; height: 2px; border-radius: 8px; background-color: $gray; }

.box-shadow { box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1); }

.flex-center { display: flex; justify-content: center; align-items: center; }

.gray-border { border: 1px solid $gray-border; }

input, textarea, select {
    width: 100%; height: 36px;
    padding: 0 8px;
    background-color: $secondary-color;
    border: none;
    border-radius: 6px;
    outline: none;
    &::placeholder { color: $gray; }
    // &:focus { outline: 2px solid $primary-color; }
}

input[type=date], input[type=time] { cursor: text; }
button, select { cursor: pointer; }

textarea {
    resize: vertical;
    padding: 4px 8px;
    background-color: $gray-light;
}

button {
    border: none;
    background-color: transparent;
    transition: all ease 0.2s;
}

select {
    appearance: none;
    option { font-size: 0.9rem; }
}
option {
    background-color: $gray-light;
    &:checked { background-color: $hover-light; }
}
option[value=''] { color: $gray; }


h1 { font-family: 'OstrovskyBold'; }
h2, h3 { font-family: 'FinlandicaMedium'; }
a, button, input, p, textarea, select {
    font-family: 'FinlandicaRegular';
    font-size: 1em;
}
h1, h2, h3, p { text-overflow: ellipsis; overflow: hidden; font-weight: normal; }

li { list-style: none; }
svg { width: 100%; height: 100%; }

@media (hover: hover) {
    button {
        opacity: 0.7;
        &:hover { opacity: 1; }
    }
}
// @media only screen and (max-width: 300px) {
    
// }

// @media only screen and (min-width: 600px) {
//     /* For tablets: */
//     input {
//         width: auto;
//         max-width: 300px; height: 30px;
//     }
// }

// @media only screen and (min-width: 768px) {
//     /* For desktop: */

// }
