.modal-layout {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;

    .modal-container {
        width: 100%;
        max-height: 100%;
        overflow-y: auto;
        
        .form {
            padding: 16px;
            background-color: $secondary-color;

            .form-inputs {
                .title, .description, .color { outline: none; }
                .title { font-size: 2rem; }
                .description { height: 100px; }
            }
        }
    }
}

@media only screen and (min-width: 330px) {
    .modal-layout {
        padding-top: $header-height;
        .modal-container {
            width: 320px;
            
            .form {
                border-radius: 8px;
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    .modal-layout {
        align-items: center;
        padding-top: 0;

        .modal-container {
            width: min(70%, 600px);

            .form {
                .form-buttons {
                    flex-direction: row;
                }
            }
        }
    }
}